<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
  </head>
  <body>
	<ul class="tags">
        {% for tag in page.tags %}
           <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
        {% endfor %}
	</ul>
	<section class="page-wrapper">
      {{content}}
    </section>
  </body>

</html>
