<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Features</title>
  </head>
  <body>
    {% capture tags %}
    {{site.tags}}
    {% endcapture %}
    <h3 id="{{ tag }}">{{ tag }}</h3>
      <ul>
      {% for i in site.tags %}
        <li>{{ i }}</li>
      {% endfor %}
      </ul>
  </body>
 </html>
