<!doctype html>
<html>
  <head>
        <meta charset="utf-8">
	      <title>{{ page.title }}</title>
	        </head>
		  <body>
		      <section class="page-wrapper">
		            {{content}}
			        </section>
				  </body>

				  </html>

